# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
# Local black
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: conda run -n superhf black
        language: system
        types: [python]
# Local pylint
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: conda run -n superhf pylint
        language: system
        types: [python]
# Local mypy
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: conda run -n superhf mypy
        language: system
        types: [python]
